:root {
    box-sizing: border-box;
    --cyan-600: #4D96A9;
    --cyan-400: #71C0D4;
    --cyan-300: #8FE3F9;
    --purple-600: #855FB1;
    --purple-400: #B18BDD;
    --purple-300: #D9B8FF;
    --slate-900: #28283D;
    --slate-600: #87879D;
    --slate-300: #D1D1DF;
    --white: #FAFAFA;

    font-family: "Red Hat Display", serif;
    font-size: 16px;
    font-weight: 400;
}

*,
::before,
::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}
body {
    min-height: 100vh; 
    display: flex;
    width: 100%;
    text-wrap: balance;
    text-wrap: pretty;
}
main {
    width: 100%;
    max-width: 1440px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    padding: 2rem 2rem 0 2rem;
    background-color: var(--white);
    overflow: hidden;
}

.hero-image-split {
    display: none;
}
.hero-image {
    width: calc(100% + 8rem);
    display: block;
    margin: 4rem -4rem 3rem -4rem;
    position: relative;
}
section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    margin: 2rem 0;
    width: 100%;
}
.body-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}
h1 {
    font-size: 40px;
    font-weight: 900;
    line-height: 110%;
    color: var(--slate-900);
    text-align: center;
    text-transform: capitalize;
}
h1 > span {
    text-transform: none;
}
section h2 {
    font-size: 32px;
    line-height: 110%;
    color: var(--slate-900);
    font-weight: 900;
    text-align: center;
}

.body-text {
    font-size: 16px;
    line-height: 150%;
    color: var(--slate-600);
    text-align: center;
    /* margin-bottom: 1.5rem; */
}
button {
    font-size: 16px;
    font-weight: 900;
    line-height: 150%;
    padding: 0.5rem 2rem;
    border-radius: 1.5rem;
    margin: auto;
    display: block;
    outline: none;
    border: none;
}
.green-button {
    background-color:var(--cyan-600);
    color: var(--white);
}
.green-button > span {
    color: var(--cyan-300);
}
.green-button:hover, .green-button:focus {
    background-color: var(--cyan-400);
}
.purple-button {
    background-color: var(--purple-600);
    color: var(--white);
}
.purple-button > span {
    color: var(--purple-300);
}
.purple-button:hover, .purple-button:focus {
    background-color: var(--purple-400);
}

button:hover, button:focus {
    cursor: pointer;
}


button + button {
    margin-top: 0.5rem;
}
.button-group {
    margin: 0 1rem;
    text-align: center;
}
/* .section-00 .what-is-it {
    background-color: var(--purple-600);
    color: var(--white);
} */
.section-number {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.section-number > .vertical-line {
    content: "";
    display: block;
    height: 80px;
    width: 1px;
    border: solid 1pt var(--slate-300);
}
.section-number > .circle {
    display:flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    width: 56px;
    height: 56px;
    border: solid 1pt var(--slate-300);
    border-radius: 28px;
    background-color: var(--white);
}
.section-number > .circle > span {
    font-size: 16px;
    color: var(--slate-600);
}
.image-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
    margin: 2rem 0;
}
.image-container > img {
    width: calc(50% - 0.5rem);
}
.section-01 > .body-container {
    max-width: 550px;
}
.section-caption {
    font-size: 14px;
    font-weight: 900;
    line-height: 110%;
    letter-spacing: 4px;
    color: var(--cyan-600);
    text-transform: uppercase;
}
.section-02 {
    margin-bottom: 0;
}
.section-02 > .section-number {
    position: relative;
    bottom: -44px; /* 28px + 1rem*/
}
footer {
    width: calc(100% + 4rem);
    margin: auto -2rem;
    background-image: linear-gradient(rgba(77,150,168,0.9),rgba(77,150,168,0.9)), url('./assets/mobile/image-footer.jpg');
    background-blend-mode:normal;
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    padding: 4rem 0;
}
footer > * + * {
    margin-top: 2rem;
}
footer h2 {
    color: var(--white);
}
footer .body-text {
    color: var(--white);
    width: 80%;
    display: block;
    margin: 2rem auto;
}
footer > .body-container {
    margin: 0 2rem;
}

@media only screen and (min-width: 700px) {
    body {
        align-items: center;
        justify-content: center; 
    }
    h1 {
        font-size: 48px;
    }
    .button-group > button {
        margin: 0.5rem;
        display: inline;
    }
    .image-container > img {
        width: calc(25% - 1rem);
    }
    footer {
        background-image: linear-gradient(rgba(77,150,168,0.9),rgba(77,150,168,0.9)), url('./assets/tablet/image-footer.jpg');    
        /* background-size: 100% 100%; */
    }
}
@media only screen and (min-width: 1000px) {
    .hero-image-split {
        display: inline;
    }
    .hero-image {
        display: none;
    }
    h1 {
        font-size: 64px;
        line-height: 100%;
    }
    .section-00 {
        flex-direction: row;
        justify-content: space-between;
        width: calc(100% + 6rem);
        margin: 4rem -3rem;
    }   
    .section-01 {
        padding: 0 10rem;
    }
    footer {
        background-image: linear-gradient(rgba(77,150,168,0.9),rgba(77,150,168,0.9)), url('./assets/desktop/image-footer.jpg');    
        /* background-size: 100% 100%; */
    }
    footer .body-container {
        flex-direction: row;
        align-items: top;
        justify-content: space-evenly;
        padding: 0 10rem;
    } 
    footer h2 {
        width: 30%;
        text-align: left;
    }
    footer .body-text {
        width: 30%;
    }   
}